[Unit]
Description=Drone Exec Runner
ConditionFileIsExecutable=/usr/bin/drone-runner-exec

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/bin/drone-runner-exec "service" "run" "--config" "/etc/drone-runner-exec/config"
Restart=always
RestartSec=120
EnvironmentFile=-/etc/sysconfig/drone-runner-exec

[Install]
WantedBy=multi-user.target
